{% extends 'books/layout.html' %}
{% load flash_alerts %}

{% block title %}Authors{% endblock %}

{% block content %}
<div class="container py-5">
  {% show_flash_alerts 'bootstrap' %}

  <div class="row mb-4">
    <div class="col-md-8">
      <h2 class="mb-0">Authors</h2>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#create-author-modal">
        <i class="bi bi-plus-circle-fill me-1"></i> Add Author
      </button>
    </div>
  </div>

  <table class="table table-striped table-bordered table-fixed mb-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Profile</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for author in authors_page %}
      <tr>
        <td>{{ author.id }}</td>
        <td>{{ author.name }}</td>
        <td>{{ author.birth_date|date:'D, d M, Y' }}</td>
        <td>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-info" data-bs-toggle="modal"
              data-bs-target="#author-profile-modal--{{ author.id }}">
              <i class="bi bi-three-dots"></i>
            </button>
          </div>
        </td>
        <td>
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
              data-bs-target="#update-author-modal--{{ author.id }}">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button type="button" onclick="deleteAuthor('{{ author.id }}')" class="btn btn-danger">
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
      {% if authors_page.has_previous %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ authors_page.previous_page_number }}"
          aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for num in authors_page.paginator.page_range %}
      <li
        class="page-item {% if authors_page.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %}

      {% if authors_page.has_next %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ authors_page.next_page_number }}"
          aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

<div class="modal fade" id="create-author-modal" tabindex="-1"
  aria-labelledby="create-author-modal--title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="create-author-modal--title">Create
          Author</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form action="{% url 'books:author_list' %}" method="post"
        id="create-author-form">
        <div class="modal-body">
          <div class="mb-3">
            <label for="create-author-form--name"
              class="form-label">Name</label>
            <input type="text" name="name"
              class="form-control"
              id="create-author-form--name">
            <div class="invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label for="create-author-form--birth_date">Birth Date</label>
            <input type="date" name="birth_date"
              class="form-control"
              id="create-author-form--birth_date">
            <div class="invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label for="create-author-form--website">Website</label>
            <input type="url" name="website"
              class="form-control"
              id="create-author-form--website">
            <div class="invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label for="create-author-form--biography">Biography</label>
            <textarea name="biography"
              class="form-control"
              id="create-author-form--biography"></textarea>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% for author in authors_page %}
<div class="modal fade" id="author-profile-modal--{{ author.id }}" tabindex="-1"
  aria-labelledby aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="author-profile-modal">
          Author Profile <{{ author.id }}>
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="author-profile--name--{{ author.id }}" class="form-label">Name:</label>
          <p id="author-profile--name--{{ author.id }}">{{ author.name }}</p>
        </div>
        <div class="mb-3">
          <label for="author-profile--birth-date--{{ author.id }}" class="form-label">Birth Date:</label>
          <p id="author-profile--birth-date--{{ author.id }}">{{ author.birth_date }}</p>
        </div>
        {% if author.profile %}
        <div class="mb-3">
          <label for="author-profile--website--{{ author.id }}"
            class="form-label">Website:</label>
          {% if author.profile.website %}
          <p id="author-profile--website--{{ author.id }}">
            <a href="{{ author.profile.website }}" target="_blank">
              {{ author.profile.website }}
            </a>
          </p>
          {% else %}
          <p id="author-profile--website--{{ author.id }}">No website
            available</p>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="author-profile--biography--{{ author.id }}"
            class="form-label">Biography:</label>
          <p id="author-profile--biography--{{ author.id }}">
            {{ author.profile.biography|default:"No biography available" }}
          </p>
        </div>
        {% else %}
        <p>This author has no profile information.</p>
        {% endif %}
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update-author-modal--{{ author.id }}" tabindex="-1"
  aria-labelledby="update-author-modal--{{ author.id }}--title"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"
          id="update-author-modal--{{ author.id }}--title">
          Update Author <{{ author.id }}>
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form action="{% url 'books:author' author.id %}" method="post"
        id="update-author-form--{{ author.id }}" data-author-id="{{ author.id }}">
        <div class="modal-body">
          <div class="mb-3">
            <label for="update-author-form--{{ author.id }}--name"
              class="form-label">Name</label>
            <input type="text" name="name"
              class="form-control"
              id="update-author-form--{{ author.id }}--name"
              value="{{ author.name }}">
            <div class="invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label for="update-author-form--{{ author.id }}--birth_date">Birth
              Date</label>
            <input type="date" name="birth_date"
              class="form-control"
              id="update-author-form--{{ author.id }}--birth_date"
              value="{{ author.birth_date|date:'Y-m-d' }}">
            <div class="invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label
              for="update-author-form--{{ author.id }}--website">Website</label>
            <input type="url" name="website"
              class="form-control"
              id="update-author-form--{{ author.id }}--website"
              value="{% if author.profile %}{{ author.profile.website }}{% endif %}">
            <div class="invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label
              for="update-author-form--{{ author.id }}--biography">Biography</label>
            <textarea name="biography"
              class="form-control"
              id="update-author-form--{{ author.id }}--biography">{% if author.profile %}{{ author.profile.biography }}{% endif %}</textarea>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
  $("#create-author-form").submit(function (e) {
    e.preventDefault();

    const form = $(this);

    $.ajax({
      url: form.attr('action'),
      method: 'post',
      data: form.serialize(),
      success() {
        window.location.reload();
      },
      error(xhr) {
        if (xhr.status == 422) {
          const body = xhr.responseJSON;
          if (body.errors) {
            const fields = Object.keys(body.errors);

            fields.forEach(function (field) {
              const fieldElement = $(`#create-author-form--${field}`);
              fieldElement.addClass('is-invalid');

              const errorMessages = body.errors[field];
              const feedbackElement = fieldElement.closest('.mb-3').find('.invalid-feedback');
              feedbackElement.html('');

              errorMessages.forEach(function (message) {
                feedbackElement.append(`<p>${message}</p>`);
              });
            });
          }
        } else {
          window.location.reload();
        }
      }
    });
  });

  $(document).on('submit', 'form[id^="update-author-form--"]', function (e) {
    e.preventDefault();

    const form = $(this);
    const authorId = form.data('author-id');

    $.ajax({
      url: form.attr('action'),
      method: 'put',
      data: form.serialize(),
      success() {
        window.location.reload();
      },
      error(xhr) {
        if (xhr.status == 422) {
          const body = xhr.responseJSON;
          if (body.errors) {
            const fields = Object.keys(body.errors);

            fields.forEach(function (field) {
              const fieldElement = $(`#update-author-form--${authorId}--${field}`);
              console.log(fieldElement);
              fieldElement.addClass('is-invalid');

              const errorMessages = body.errors[field];
              const feedbackElement = fieldElement.closest('.mb-3').find('.invalid-feedback');
              feedbackElement.html('');

              errorMessages.forEach(function (message) {
                feedbackElement.append(`<p>${message}</p>`);
              });
            });
          }
        } else {
          window.loaction.reload();
        }
      }
    });
  });

  function deleteAuthor(id) {
    let url = '{% url "books:author" 0 %}';
    url = url.replace('0', id);

    $.ajax({
      url,
      method: 'delete',
      complete() {
        window.location.reload();
      }
    });
  }
</script>
{% endblock %}
