<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Car List</title>
    </head>
    <body>
        <h1>Car List</h1>
        <ul>
            {% for car in car_list %}
            <li><strong>{{ car.id }}</strong> {{ car.name }}</li>
            {% endfor %}
        </ul>
        <h2>Delete car:</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ delete_form.as_p }}
            <button type="submit">Submit</button>
        </form>
        <br><br>
        <a href="{% url 'add_car' %}">Add car</a>
    </body>
</html>