<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Car List</title>
    </head>
    <body>
        <h1>Car List</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                {% for car in car_list %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.name }}</td>
                    <td>{% if car.year %}{{ car.year }}{% endif%}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Delete car:</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ delete_form.as_p }}
            <button type="submit">Submit</button>
        </form>
        <br><br>
        <a href="{% url 'add_car' %}">Add car</a>
    </body>
</html>